.about {
  min-height: 100vh;
  color: #262423;
  background-color: #eee7e1;

  cursor: none;
  .container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
  }
  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }
  .left-section {
    width: 70%;
    display: flex;
    flex-direction: column;

    .about-title {
      font-family: "outward-block";

      font-size: 300px;

      transition: 0s letter-spacing;
      content-visibility: auto;
      text-overflow: clip;

      // border: red solid 1px;
    }
    .about-title:hover {
      // letter-spacing: 15px;
      transition-duration: 1s;
    }
    h2 {
      font-size: 30px;
      letter-spacing: 2px;

      font-family: "Millimetre-Regular";
    }
    p {
      margin-top: 50px;
      font-size: 15px;
      line-height: 30px;
      letter-spacing: 2px;
      font-family: "Millimetre-Light";
    }
    .mern {
      margin-top: 40px;
      display: flex;

      width: 300px;
      height: 80px;
      margin-left: -25px;
      // border: solid red 1px;
      .logos {
        display: flex;
        gap: 30px;
        margin-top: 12px;

        margin-left: 25px;
        // border: solid yellow 1px;

        img {
          width: 60px;
          height: 62px;
        }
      }
    }
    a {
      background-color: #262423;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: "Millimetre-Light";

      font-size: 20px;
      color: white;
      height: 50px;
      width: 150px;
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }

  .right-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    // position: relative;

    // border: solid green 1px;

    img {
      width: 450px;
      height: 600px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: sticky;
      top: 0 +50px;

      //   border: solid 1px black;
    }
  }
}

@media (max-width: 415px) {
  .about {
    min-height: 100vh;
    color: #262423;
    background-color: #eee7e1;

    cursor: none;
    .container {
      // width: 90vw;
      margin: 0 auto;

      padding-top: 50px;
    }
    .app-cursor {
      display: none;
    }
    .left-section {
      width: 20000%;
      display: flex;
      flex-direction: column;
      // border: solid red 1px;

      .about-title {
        font-family: "outward-block";

        font-size: 300px;

        transition: 0s letter-spacing;
        content-visibility: auto;
        text-overflow: clip;

        // border: red solid 1px;
      }
      .about-title:hover {
        // letter-spacing: 15px;
        transition-duration: 1s;
      }
      h2 {
        font-size: 30px;
        letter-spacing: 2px;

        font-family: "Millimetre-Regular";
      }
      p {
        margin-top: 50px;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 2px;
        font-family: "Millimetre-Light";
      }
      .mern {
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        width: 300px;
        height: 80px;

        // border: solid red 1px;
        .logos {
          display: flex;
          gap: 30px;
          margin-top: 12px;

          margin-left: 25px;
          // border: solid yellow 1px;

          img {
            width: 60px;
            height: 62px;
          }
        }
      }
      a {
        background-color: #262423;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: "Millimetre-Light";

        font-size: 20px;
        color: white;
        height: 50px;
        width: 150px;
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }
    .curri {
      margin-top: 83px;
    }

    .right-section {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      // position: relative;

      // border: solid green 1px;

      img {
        display: none;

        //   border: solid 1px black;
      }
    }
  }
}
