.contact {
  min-height: 100vh;
  color: #eee7e1;
  background-color: #262423;
  cursor: none;

  .container {
    max-width: 90vw;

    margin: 0 auto;
    // border: solid red 1px;
  }
  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid white !important;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }
  .meet-container {
    display: inline-block;
    margin-top: 150px;
    // border: solid green 1px;
  }
  .meet {
    max-height: 200px;
    margin-left: 4.32vw;

    font-size: 150px;
    // border: red solid 1px;
    box-sizing: border-box;
    content-visibility: auto;
    text-overflow: clip;
    font-family: "Millimetre-Light";
  }
  .mail {
    font-size: 18px;
    margin-top: 40px;

    display: flex;
    font-family: "Millimetre-light";

    a {
      color: #eee7e1;
      margin-left: 10px;
      //   border: solid red 1px;
      margin-bottom: 2px;
      padding-bottom: 3px;
      cursor: none;
      font-family: "Millimetre-light";
    }
  }
  .infos {
    display: flex;
    margin-top: 20px;
    font-family: "Millimetre-light";

    a {
      text-decoration: none;
      margin: 10px;
      color: #eee7e1;
      cursor: none;
      font-family: "Millimetre-light";
    }
    a:hover {
      text-decoration: line-through;
    }
  }
}

@media (max-width: 415px) {
  .contact {
    min-height: 100vh;

    .app-cursor {
      display: none;
    }
    .meet-container {
      display: inline-block;
      margin-top: 150px;
    }
    .meet {
      max-height: 200px;
      margin-left: 13px;

      font-size: 80px;

      // border: red solid 1px;
      box-sizing: border-box;
      content-visibility: auto;
      text-overflow: clip;
      font-family: "Millimetre-Light";
    }
    .mail {
      a {
        color: #eee7e1;
        margin-left: 10px;
        //   border: solid red 1px;
        margin-bottom: 2px;
        padding-bottom: 3px;
        cursor: none;
      }
    }
  }
}
