.Home {
  min-height: 100vh;
  background-color: #eee7e1;
  cursor: none;

  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }

  .app-cursor-hover {
    transition-duration: 250ms;
    z-index: 1000;
    border-radius: 76% 24% 46% 54% / 87% 73% 27% 13%;

    width: 100px;
    height: 100px;
    border: 1px solid black;
    pointer-events: none;
    background-color: #eee7e1;
    overflow: hidden;
    position: absolute;
    animation: morphing 5s infinite;
  }
  @keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
      box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }
  .menu {
    display: inline-flex;
    flex-direction: column;
    margin-top: 6vh;
    margin-left: 80px;
    max-width: 24vw;
    // border: red solid 1px;
    .home-link {
      text-decoration: none;
      color: black;
      font-family: "outward-block";
      font-size: 17vw;
      cursor: none;
    }
    .home-link:hover {
      font-family: "outward-borders";
    }
  }

  .presentation {
    display: inline-block;
    position: absolute;

    // border: solid yellow 2px;
    width: 40vw;
    margin-left: 20vw;
    margin-top: 45vh;

    p {
      font-size: 20px;
      margin: 10px;
      font-family: "Karric-Italic";
    }
    h1 {
      //   font-family: "Millimetre-Light";
      font-size: 60px;
      letter-spacing: 4px;
      font-family: "Millimetre-Regular";
    }
    h2:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;

      animation: ellipsis steps(3, end) 1500ms infinite;
      content: "\2026";

      width: 0px;
    }
    @keyframes ellipsis {
      to {
        width: 20px;
      }
    }

    h2 {
      margin: 5px;
      margin-top: 5vh;
      font-family: "Millimetre-light";

      font-size: 22.5px;
    }
  }
  .social {
    display: flex;
    // border: green solid 1px;
    margin-top: 52vh;
    padding-right: 57px;

    width: 60px;

    flex-direction: column;
    align-items: center;
    position: relative;

    float: right;

    img {
      margin-bottom: 50px;
      // border: solid red 1px;
      transform: rotate(+0.25turn);
      width: 150px;
      height: 80px;
    }

    a {
      text-decoration: none;
      color: black;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 20px 10px;
      font-size: 20px;
      letter-spacing: 5px;
      cursor: none;
      font-family: "Millimetre-Light";
      // border: solid yellow 1px;
    }

    a:hover {
      text-decoration: line-through;
    }
  }
}

@media (max-width: 415px) {
  .Home {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #eee7e1;

    .app-cursor {
      display: none;
    }

    .app-cursor-hover {
      display: none;
    }

    .menu {
      display: inline-flex;
      flex-direction: column;
      gap: 5vw;

      margin-top: 10vh;
      margin-left: 5vw;

      // border: red solid 1px;
      .home-link {
        color: black;
        font-family: "outward-borders";
        font-size: 100px;
        cursor: none;
      }
    }
    .presentation {
      // border: solid yellow 2px;
      width: 92vw;

      margin-top: 50vh;
      margin-left: -24vw;

      h1 {
        // border: solid red 1px;
        //   font-family: "Millimetre-Light";
        font-size: 30px;
      }
      h2:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;

        animation: ellipsis steps(3, end) 1500ms infinite;
        content: "\2026";

        width: 0px;
      }
      @keyframes ellipsis {
        to {
          width: 20px;
        }
      }
    }
    .social {
      display: flex;
      // border: green solid 1px;
      margin-top: 2vh;
      margin-right: 66.5vw;

      margin-left: -30vh;

      // width: 60px;

      flex-direction: row;

      img {
        margin-bottom: 5.5vh;
        // border: solid red 1px;
        transform: rotate(+1turn);
        width: 10vw;
        height: 5vh;
      }

      a {
        text-decoration: none;
        color: black;
        transform: rotate(-0.25turn);
        margin-bottom: 8vh;

        font-size: 15px;
        letter-spacing: 5px;

        // border: solid yellow 1px;
      }
    }
  }
}

@media (max-width: 375px) {
  .Home {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #eee7e1;

    .app-cursor {
      display: none;
    }

    .app-cursor-hover {
      display: none;
    }

    .menu {
      display: inline-flex;
      flex-direction: column;
      gap: 5vw;
      width: 100%;

      margin-top: 10vh;
      margin-left: 5vw;

      // border: red solid 1px;
    }
    .presentation {
      // border: solid yellow 2px;

      margin-top: 70vh;
      margin-left: -24vw;

      h1 {
        // border: solid red 1px;
        //   font-family: "Millimetre-Light";
        font-size: 30px;
        letter-spacing: 4px;
        font-family: "Millimetre-Regular";
      }
      h2:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;

        animation: ellipsis steps(3, end) 1500ms infinite;
        content: "\2026";

        width: 0px;
      }
      @keyframes ellipsis {
        to {
          width: 20px;
        }
      }

      h2 {
        margin-top: 30px;
        font-family: "Millimetre-light";

        font-size: 20px;
      }
    }
    .social {
      display: flex;
      // border: green solid 1px;
      margin-top: 2vh;
      margin-right: 62.5vw;

      margin-left: -30vh;

      // width: 60px;

      img {
        margin-bottom: 4.8vh;
        // border: solid red 1px;
        transform: rotate(+1turn);
        width: 10vw;
        height: 5vh;
      }
    }
  }
}
