.Home {
  min-height: 100vh;
  background-color: #eee7e1;
  cursor: none;
  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }
  .menu {
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
    // border: red solid 1px;
    h1 {
      font-family: "outward-block";
      font-size: 250px;
    }
  }
  .presentation {
    display: inline-block;
    position: absolute;

    // border: solid yellow 2px;
    width: 40vw;
    margin-left: 15vw;
    margin-top: 37vh;
    p {
      font-size: 20px;
      margin: 10px;
      font-family: "Karric-Italic";
    }
    h1 {
      font-size: 80px;
      letter-spacing: 4px;
    }
    h2 {
      margin: 5px;
      margin-top: 50px;

      font-size: 25px;
    }
  }
  .social {
    display: flex;
    // border: green solid 1px;
    margin-top: 68vh;

    flex-direction: column;
    position: relative;

    float: right;
    span {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 20px 10px;
    }

    span:hover {
      text-decoration: line-through;
    }
  }
}
