.Home {
  min-height: 100vh;
  background-color: #eee7e1;
  cursor: none;
  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }
  .menu {
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 80px;
    // border: red solid 1px;
    .home-link {
      text-decoration: none;
      color: black;
      font-family: "outward-block";
      font-size: 250px;
    }
    .home-link:hover {
      font-family: "outward-borders";
    }
  }
  .presentation {
    display: inline-block;
    position: absolute;

    // border: solid yellow 2px;
    width: 40vw;
    margin-left: 15vw;
    margin-top: 37vh;
    p {
      font-size: 20px;
      margin: 10px;
      font-family: "Karric-Italic";
    }
    h1 {
      //   font-family: "Millimetre-Light";
      font-size: 60px;
      letter-spacing: 4px;
    }
    h2 {
      margin: 5px;
      margin-top: 50px;

      font-size: 22.5px;
    }
  }
  .social {
    display: flex;
    // border: green solid 1px;
    margin-top: 55.2vh;
    width: 60px;

    flex-direction: column;
    align-items: center;
    position: relative;

    float: right;
    img {
      margin-bottom: 50px;
      //   border: solid red 1px;
      transform: rotate(+0.25turn);
      width: 150px;
      height: 80px;
    }

    a {
      text-decoration: none;
      color: black;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 20px 10px;
      font-size: 20px;
    }

    a:hover {
      text-decoration: line-through;
    }
  }
}
