.work {
  min-height: 100vh;
  min-width: 100vw;
  color: #eee7e1;
  background-color: #262423;
  cursor: none;

  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #eee7e1;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }

  .container {
    width: 90vw;
    // height: 80vh;
    margin: 0 auto;
    display: flex;

    .work-menu {
      width: 30vw;
      padding-top: 48px;
      // border: solid red 1px;
      .link {
        text-decoration: none;
        color: #eee7e1;
        cursor: none;
      }
      h1 {
        font-family: "outward-block";

        font-size: 250px;
        display: green 2px solid;
      }
    }
  }
  .right-section {
    position: fixed;
    margin-left: 50vw;
    // border: solid white 1px;
    width: 30vw;
    margin-top: 60vh;
    .work-infos {
      h2 {
        font-family: "Millimetre-Regular";
        font-size: 30px;
        text-decoration: underline;
        letter-spacing: 2px;
      }
      p {
        margin-top: 3vh;
        font-family: "Millimetre-Light";
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
  }
}
