.porto-page {
  min-height: 100vh;
  min-width: 100vw;
  color: #262423;
  background-color: #eee7e1;
  .app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #eee7e1;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }
  .app-cursor-left {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #262423;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
  }

  .container {
    width: 90vw;
    margin: 0 auto;
    border-right: #262423 solid 1.5px;
    display: flex;
    .title-cont {
      height: 100vh;

      background-color: #262423;
      color: #eee7e1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        margin-bottom: 50px;
        font-family: "outward-block";
        font-size: 250px;
        padding-top: 48px;
      }
      .home-page {
        width: 30vw;
        margin-left: 7.4vw;
      }
    }
    .right-section {
      //   border: green solid 5px;
      width: 100%;
      display: flex;
      justify-content: center;
      .free {
        font-family: "Millimetre-Regular";
        font-size: 3vw;
        align-self: center;

        text-decoration: underline;
      }
      h1 {
        font-family: "Millimetre-Light";
        font-size: 25px;
        letter-spacing: 1px;
        padding-top: 110px;
        padding-left: 35px;
        width: 90%;
      }

      .list {
        display: flex;
        justify-content: space-around;
        padding-top: 63px;

        font-family: "Millimetre-Regular";
        font-size: 25px;
        gap: 45px;
        a {
          background-color: #262423;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-family: "Millimetre-Light";

          font-size: 20px;
          color: white;
          height: 50px;
          width: 150px;
          margin-top: 30px;
          margin-bottom: 50px;
        }
        // border: yellow solid 2px;
      }
    }
  }
}

@media (max-width: 420px) {
  .porto-page {
    min-height: 100vh;
    min-width: 100vw;
    .container {
      display: flex;
      flex-direction: column;

      .left-section {
        .title-cont {
          h1 {
            font-size: 150px;
            margin-bottom: 3vh;
          }
        }
        .home-page {
          width: 60vw;
          align-self: center;
          margin-left: 0;
        }
      }
      .right-section {
        .right-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          .free {
            font-family: "Millimetre-Regular";
            font-size: 8vw;
            align-self: flex-start;
            margin-left: 5vw;

            text-decoration: underline;
          }
          h1 {
            padding-left: 0;
            padding-top: 5vh;
          }
          .list {
            padding-top: 0.5vh;
            width: 90%;
          }
        }
      }
    }
  }

  .app-cursor {
    display: none;
  }
  .app-cursor-left {
    display: none;
  }
}

@media (max-width: 376px) {
  .porto-page {
    min-height: 100vh;
    min-width: 100vw;
    .container {
      display: flex;
      flex-direction: column;

      .left-section {
        .title-cont {
          h1 {
            font-size: 120px;
            margin-bottom: 3vh;
          }
        }
        .home-page {
          width: 60vw;
          align-self: center;
          margin-left: 0;
        }
      }
      .right-section {
        .right-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          .free {
            font-family: "Millimetre-Regular";
            font-size: 8vw;
            align-self: flex-start;
            margin-left: 7vw;

            text-decoration: underline;
          }
          h1 {
            padding-left: 0;
            padding-top: 5vh;
            width: 85%;
          }
          .list {
            padding-top: 0.5vh;
            width: 85%;
          }
        }
      }
    }
  }

  .app-cursor {
    display: none;
  }
  .app-cursor-left {
    display: none;
  }
}
